/* Fuente principal */
body {
  font-family: 'Poppins', sans-serif;
  color: #164443;
  background-color: #f8f9fa;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: #164443;
}

.subtitulo {
  font-weight: 700;
}

.relleno {
  font-weight: 300;
}

.especial {
  font-family: 'IBM Plex Serif', serif;
  font-style: italic;
}

/* Navbar y footer */
nav.navbar,
footer.footer-area {
  background-color: #164443 !important;
}

nav .nav-link,
nav .navbar-brand,
footer {
  color: white !important;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer ul {
  padding-left: 0;
  list-style: none;
}


